<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/dormserv.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.css' %}"/>



<html>
	<head>
	<title>Dormserv</title>
	</head>

	<body>
	<div id="wrap">

		<div id="nav">
			<a href="/">
			<div class="imagewrapper">
				<img src="{% static "users/images/12.png" %}" alt="dormserv"/>
			</div>
			</a>
		</div>

		<div id="col_3">
			<h3>Privacy Policy</h3>
			<div id = "qa_group">
				<div id = "answer">
				At Dormserv, we want you to understand how we use, disclose, and collect Personally Identifiable Information. However, this discussion does not address the Privacy Policies of utilized by any of our affiliates or third parties on our website. In this Policy, the use of “Dormserv,” “we,” “us,” and “our” only mean Dormserv, LLC.<br><br>
				When using or accessing this site, you agree to all the terms and conditions of this privacy policy. You agree that you will check out this Privacy Policy periodically. By continuing to access and/or use the Sites after we make changes to this Privacy Policy, you agree to be bound by the revised Privacy Policy. You agree that if you do not agree to the new terms of the Privacy Policy, you will stop using the Sites.
				</div>
				<br>
				<div id = "question">
				1. What Types of Information Do We and Our Third Party Service Providers Collect From You?
				</div>
				<div id="answer">
				<em>Personally Identifiable Information</em> (or "PII") ") is information that identifies you as an individual. We require your name, phone number, address, email and collect your Duke Card number/Credit Card number at the time of purchase.  
				<br><br>
				Non-Personally Identifiable Information (or "Non-PII") is aggregated information, demographic information and any other information that does not reveal your specific identity. 
				<div id="answer">
				This includes your interaction with the site- for example what device you are using to access the site.
				</div>
				<br>
				<div id="question">
				2. How Do We and Our Third Party Service Providers Use Information Collected From You?
				</div>
				<div id="answer">
					<ul>
						<li>To fulfill your order requests.</li>
						<li>To customize the site.</li>
						<li>To inform you of new information, updates, and additions to the site.</li>
						<li>To fulfill our internal business purposes, like data analytics.</li>
						<li>To provide third party organizations with information in the event of a sale, merger, or acquisition.</li>
						<li>As we believe to be appropriate.</li>
					</ul>
				<br>
				<em>Security.</em> At Dormserv in order to protect PII we use reasonable organizational, technical, and administrative measures. However, no data transmission can be guaranteed of 100% security over the internet or data storage system. Contact us immediately if you believe your interaction with us is not secure or to your liking.
				<br><br>
				<em>Disclaimer.</em> If you choose to access the Sites, you do so at your own risk, and are responsible for complying with all local laws, rules and regulations. We may limit the availability of the Sites, in whole or in part, to any person, geographic area and/or jurisdiction we choose, at any time and in our sole discretion.
				</div>

				</div>
			</div>
		</div>
	</div>

		<div id="footer">
				<ul>
					<li><a href="faq.html">FAQ</a></li>
					<li>&emsp; &emsp; &#183 &emsp; &emsp;</li>
					<li><a href="privacy.html">PRIVACY</a></li>
					<li>&emsp; &emsp; &#183 &emsp; &emsp;</li>
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
		</div>
	</div>
	</body>


</html>