{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/dormserv.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.css' %}"/>


<div id="upper_nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <li><a href="/dashboard/">{{ user.first_name }}'s Dashboard</a></li>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/">Log Out</a></li>             
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>